# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django SQLite Database
db.sqlite3

# Virtual environment
venv/
*.env

# Pytest cache
.pytest_cache/

# IDE files
.vscode/


# Docker files
Dockerfile
docker-compose.yml

# Local configuration files
*.log
*.bak
*.swp
*.swo

# Flake8 configuration
.flake8
