# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django SQLite Database
db.sqlite3

# Django migrations
faq_project/migrations/

# Virtual environment
venv/
*.env

# Pytest cache
.pytest_cache/

# IDE files
.idea/
.vscode/

# Flask environment files
instance/

# Docker files
Dockerfile
docker-compose.yml

# Local configuration files
*.log
*.bak
*.swp
*.swo

# Flake8 configuration
.flake8

# Coverage reports
coverage.xml
*.cover
*.hypothesis/
*.tox/
